.amazing {
    &__hr {
        margin-bottom: 87px;
    }
    
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__column {
        flex: 0 1 370px;
        display: flex;
        margin-bottom: 140px;
        padding: 0 15px;
        
    }
    &__img {
        align-self:flex-start;
        margin-right: 30px;
        flex: 0 0 70px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        flex: 1 1 auto;
        max-width: 270px;
        
    }

    &__box-title {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        color: #2D3033;
        margin-bottom: 35px;
    }

    &__box-subtitle {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        color: #2D3033;
        width: 270px;
    }

}
