.blog {
    padding-bottom: 84px;

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        justify-content: center;
    }
    
    &__item {
        flex-direction: column;
        flex: 0 1 370px;
        display: flex;
        padding: 0 15px;
    }

    &__item-link{
        &:hover{
            opacity:0.7;
        }
    }
    &__picture {
        position: relative;
        &:after{
            content: "";
            position:absolute;
            background-image: url('../img/blog2.png');
            left: -14px;
            top: 148px;
            width: 80px;
            height: 80px;
            cursor:pointer;
        }
    }

    &__item-title {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        color: #2D3033;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    &__item-text {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        color: #2D3033;
        margin-bottom: 35px;
    }

    &__icons {
        display: flex;
    }

    &__icon {
        display: flex;
        align-items: center;
        &:first-child{
            padding-right: 45px;
        }
    }
    &__icon-view{
        padding-right: 16px;
    }
    &__icon-comment{
        padding-right: 16px;
    }

    &__view {
        font-family: 'Raleway';
        font-style: normal;
        font-size: 13px;
        color: #2D3033;
    }
    &__comments{
        font-family: 'Raleway';
        font-style: normal;
        font-size: 13px;
        color: #2D3033;
    }
}


@media screen and (max-width:1024px) {
    .blog {
        padding-bottom: 60px;
    
        &__wrapper{
            margin: 0 -10px;
        }
        
        &__item {
            flex: 0 1 316px;
            display: flex;
            margin-bottom: 0px;
            padding: 0 10px;
        }
    
        &__picture {
            position: relative;
            &:after{
                content: "";
                position:absolute;
                background-image: url('../img/blog2laptop.png');
                left: -8px;
                top: 130px;
                width: 68px;
                height: 68px;
                
            }
            img{
                width: 316px;
                height: 214px;
            }
            
        }
    
        &__item-title {
            font-size: 18px;
        }
    
        &__item-text {
            font-size: 14px;
            margin-bottom: 30px;
        }
    
        &__icon {
            display: flex;
            align-items: center;
            &:first-child{
                padding-right: 45px;
            }
        }
        &__icon-view{
            margin-top: 5px;
            width: 24px;
            height: 34px;
            padding-right: 0;
            margin-right: 10px;
        }
        &__icon-comment{
            margin-top: 5px;
            width: 25px;
            height: 25px;
            padding-right: 0;
            margin-right: 10px;
        }
        &__view {
            font-size: 12px;
        }
        &__comments{
            font-size: 12px;
        }
    }
    
}

@media screen and (max-width:320px) {
    .blog {
        padding-bottom: 30px;
        &__designation{
            padding-top: 40px;
        }
        &__hr{
            margin-bottom: 35px;
        }
        &__item {
            flex: 0 1 288px;
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    
        &__item-link{
            &:hover{
                opacity:0.7;
            }
        }
        &__picture {
            position: relative;
            &:after{
                background-image: url('../img/blog2phone.png');
                left: 0px;
                top: 130px;
                width: 68px;
                height: 68px;
            }
            img{
                width: 288px;
                height: 214px;
            }
        }
    
        &__item-title {
            font-size: 18px;
        }
    
        &__item-text {
            font-size: 14px;
            margin-bottom: 20px;
        }
    
        &__icons {
            display: flex;
        }
    
        &__icon {
            display: flex;
            align-items: center;
            &:first-child{
                padding-right: 35px;
            }
        }
        &__icon-view{
            padding-right: 0px;
        }
        &__icon-comment{
            padding-right: 0px;
        }
    
        &__view {
            font-size: 12px;
        }
        &__comments{
            font-size: 12px;
        }
    }
    
}