.feedback {
    background-image: url(../img/feedback_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__designation {
        padding-bottom: 35px;

    }

    &__hr {
        margin-top: 30px;
        margin-bottom: 60px;
    }
		&__wrapper {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -30px;
            justify-content: center;
		}

		&__column {
            flex: 0 1 550px;
            display: flex;
            margin-bottom: 85px;
            padding: 0 30px;
		}

		&__img {
            margin-right: 40px;
            img{
                  width: 88px;
                  height: 88px;
            }
		}

		&__box {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            width: 369px;
		}

		&__name {
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 15px;
            color: #2D3033;
		}

		&__job {
            font-family: 'Raleway';
            font-weight: 400;
            font-size: 18px;
            color: #2D3033;
		}

		&__column-hr {
            border:none;
            border-top: 4px solid #F38281;
            width: 70px;
            margin-top: 32px;
            margin-bottom: 50px;
		}

		&__text {
            font-family: 'Raleway';
            font-weight: 400;
            font-size: 18px;
            color: #2D3033;
		}
}

@media screen and (max-width:1024px) {
      .feedback {  
                  &__designation {
                  padding-bottom: 25px;
            
                  }
                  &__wrapper {
                  display: flex;
                  flex-wrap:wrap;
                  margin: 0 -15px;
                  justify-content: center;
                    }
        
                  &__column {
                  flex: 0 1 454px;
                  margin-bottom: 55px;
                  display: flex;
                  padding: 0 15px;
                  }
        
                  &__img {
                  margin-right: 40px;
                  }
        
                  &__box {
                  width: 316px;
                  }
                  &__name {
                  font-size: 18px;
                  margin-bottom: 13px;
                  }
        
                  &__job {
                  font-size: 14px;
                  }
        
                  &__column-hr {
                  width: 48px;
                  margin-top: 20px;
                  margin-bottom: 45px;
                  }
        
                  &__text {
                  font-size: 14px;
                  }
        }
        
}

