.feedback {
    background-image: url(../img/feedback_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 70px;

    &__designation {
        padding-bottom: 35px;

    }

    &__hr {
        margin-top: 30px;
    }

    &__box {

        &_one {
            display: flex;
            margin-bottom: 72px;
            justify-content: space-between;
        }

        &_two {
            display: flex;
            justify-content: space-between;
        }
    }
    &__img{
        align-self: flex-start;
        padding-right: 50px;
    }

    &__item {
        display: flex;
        max-width: 550px;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 15px;
        color: #2D3033;
    }

    &__job {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        color: #2D3033;
    }
    &__wrap-hr{
        border:none;
        border-top: 4px solid #F38281;
        width: 70px;
        margin-top: 32px;
        margin-bottom: 50px;
    }

    &__text {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        color: #2D3033;
    }
}
