.footer {
    background-color: #F8F8F8;
    &__block{
        display: flex;
        justify-content: space-between;
        padding: 40px 0px;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        &_one {
            max-width: 370px;
        }

        &_two {
            max-width: 470px;
        }

        &_three {
            max-width: 270px;
            display: block;
        }
    }

    &__box{
        display: flex;

    }
    
    &__img-mogo{
        padding-bottom: 20px;
    }

    &__text {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        color: #C6CBCD;
        padding-bottom: 1px;
    }

    &__followers {
        font-family: 'Raleway';
        font-size: 18px;
        font-style: italic;
        color: #2D3033;
    }

    &__span {
        font-weight: 700;
        font-size: 36px;
        font-style:normal;
    }
    &__span-k{
        font-size: 18px;
    }

    &__hr-up{
        border:none;
        border-top: 1px solid #C6CBCD;
        width: 370px;
    }

    &__links{
        display: flex;
    }

    &__follow {
        font-family: 'Raleway';
        font-style: italic;
        font-weight: 400;
        font-size: 13px;
        color: #C6CBCD;
        align-self: center;
        margin-right: 45px;
    }
    &__social_laptop{
        display: none;
    }
    &__icon{
        padding-right: 6px;
        &:last-child{
            padding-right: 0;
        }
    }

    &__form {
        display: flex;
        width: 100%;
        max-width: 370px;
        position: relative;
    }

    &__input {
        display: inline-block;
        width: 370px;
        height: 55px;
        border: 1px solid #C6CBCD;
        color:#C6CBCD;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        padding: 0px 10px;
        padding-right:142px;
        &::placeholder{
        color:#C6CBCD;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        }
        &:focus{
            outline:1px solid #a1a5a6;
        }
    
    }

    &__btn {
        width: 132px;
        height: 55px;
        border: 0;
        color:#fff;
        background-color: #95E1D3;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 18px;
        margin-left:-132px;
        cursor: pointer;
        &:hover{
            background-color: #87D2C4;
        }
        &:active{
            border:1px solid #a1a5a6;
            background-color: #5C958A;
        }
        
    }

    &__name {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        color: #2D3033;
        margin-bottom: 42px;
    }

    &__blog-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__blog-item {
        position: relative;
        display: flex;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        &:hover:after{
            content:"";
            position:absolute;
            background-color:rgb(100%, 100%, 100%, 0.5);
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
        &:active:after{
            content:"";
            position:absolute;
            background-color:rgb(173, 173, 173, 0.5);
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__blog-img{
        padding-right: 30px;
        img{
            vertical-align: middle;
        }
    }

    &__info {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 18px;
        color: #2D3033;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__date {
        font-family: 'Raleway';
        font-style: normal;
        font-size: 13px;
        color: #2D3033;
    }

    &__inst-img {
        display: flex;
        margin-bottom: 40px;
    }

    &__column {
        display: flex;  
        flex-direction: column;
        max-height: 258px;
    }

    &__picture {
        position: relative;
        &:hover:after{
            content:"";
            position:absolute;
            background-color:rgb(100%, 100%, 100%, 0.5);;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            
        }
    }

    &__img {
        vertical-align: middle;
    }

    &__see {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 13px;
        text-decoration-line: underline;
        color: #2D3033;
        &:hover{
            text-decoration-line:none;
        }
    }

    &__hr-bottom{
        border:none;
        border-top: 1px solid #C6CBCD;
        width: 1170px;

    }

    &__copyright {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 13px;
        text-align: center;
        color: #2D3033;
        padding: 20px 0px;
    }
}

@media screen and (max-width:1024px) {
    .footer {
        &__mogo{
            width: 110px;
        }
        background-color: #F8F8F8;
        &__block{
            padding: 50px 0px;
        }
    
        &__wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            &_one {
                max-width: 317px;
                height: 284px;
            }
    
            &_two {
                max-width: 402px;
                height: 284px;
            }
    
            &_three {
                max-width: 233px;
                display: block;
            }
        }
        
        &__img-mogo{
            padding-bottom: 0px;
        }
    
        &__text {
            font-size: 14px;
            padding-bottom: 1px;
        }
    
        &__followers {
            font-size: 14px;
        }
        &__social_laptop{
            display: block;
        }
        &__social_comp{
            display: none;
        }
    
        &__span {
            font-size: 24px;
        }
        &__span-k{
            font-size: 14px;
        }

        &__hr-up{
            width: 317px;
        }

        &__follow {
            font-size: 12px;
            margin-right: 35px;
        }
    
        &__icon{
            padding-right: 13px;
            &:last-child{
                padding-right: 0;
            }
        }
    
        &__form {
            max-width: 317px;

        }
    
        &__input {
            display: inline-block;
            width: 317px;
            height: 37px;
            font-size: 14px;
            padding: 0px 10px;
            padding-right:142px;
            &::placeholder{
            font-size: 14px;
            }
        
        }
    
        &__btn {
            width: 146px;
            height: 37px;
            border: 0;
            font-weight: 700;
            font-size: 14px;
            margin-left:-146px;
            
        }
    
        &__name {
            font-size: 18px;
            margin-bottom: 0;
        }
    
        &__blog-item {
            margin-bottom: 13px;
        }
    
        &__blog-img{
            padding-right: 20px;
            img{
                width: 115px;
                height: 71px;
            }
        }
    
        &__info {
            font-size: 14px;
            margin-bottom: 18px;
        }
    
        &__date {
            font-size: 12px;
        }
    
        &__inst-img {
            margin-bottom: 15px;
        }
    
        &__column {
            margin-top: 25px;
            max-height: 226px;
        }
    
        &__img {
            width: 78px;
            height: 76px;
        }
    
        &__see {
            font-size: 12px;
        }
        &__hr-bottom{
            width: 990px;
        }
        &__copyright {
            font-size: 13px;
            padding: 17px 0px;
        }
    }
    
}