.partners {
background-color: #F8F8F8;
padding: 42px 0px;
    &__container {
    }

    &__wrapper {
        width: 100%;
        text-align: center;
    }
    &__row{
        display: flex;
        flex-wrap:wrap;
        margin: 0 -40px;
        justify-content: center;
    }
    &__picture {
        display: flex;
        flex: 0 1 127px;
        align-items: center;
        padding: 0 40px;
    }
    &__img{
        width: 127px;
        height: 127px;
    }
}
@media screen and (max-width:1024px) {
    .partners {
        background-color: #F8F8F8;
        padding: 45px 0px;
        &__row{
            margin: 0 0px;
        }
        &__picture{
            padding: 0 39px;
        }
        &__img{
            width: 86px;
            height: 86px;
        }
        
        }
}



@media screen and (max-width:320px) {
    .partners {
        background-color: #F8F8F8;
        padding: 30px 0px;
        
            &__row {
                display: flex;
                flex-wrap:wrap;
                margin: 0 0px;
                justify-content: center;
            }
        
            &__picture {
                display: flex;
                align-items: center;
                padding: 0 29px;
            }
            &__picture-five {
                img{
                    width: 288px;
                }
            }
            &__img{
                display: flex;
                width: 86px;
                height: 86px;
            }
            &__picture-one{
                order:1;

            }
            &__picture-two{
                order:2;
                
            }
            &__picture-three{
                order:5;
                
            }
            &__picture-four{
                order:4;
                
            }
            &__picture-five{
                order:3;
                width: 100%;
                img{
                    margin: 0 auto;
                    
                }

                
            }
            &__picture-six{
                order:6;
                
            }
        }
}