.service {
    &__designation {
        margin-top: 60px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 114px;
    }
    &__img-block{
        flex: 0 0 483;
    }

    &__img {
        margin-right: 30px;

    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__ability {
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        border: 1px solid #C6CBCD;
        width: 570px;
        height: 92px;
    }

    &__icon {
        margin-left: 18px;
        margin-right: 20px;
    }
    &__naming{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__box-title {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        color: #2D3033;
    }

    &__arrow {
        display: flex;
        cursor:pointer;
        padding-right: 19px;
        padding-left:19px;
        justify-content:flex-end;
        transition:0.3s;

    }
    &__drop{
        cursor: pointer;
        &.active > .service__box-text{
            display: block;
        }&.active .service__arrow{
            transform: rotate(-180deg);

        }
        

    }

    &__box-text {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        color: #2D3033;
        border: 1px solid #C6CBCD;
        border-top: none;
        padding: 10px 85px 10px 22px;
        position: relative;
        display: none;
        max-height: 155px;

    }
}