.service {
    &__designation {
        margin-top: 60px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 114px;
    }

    &__img {
        margin-right: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__ability {
        margin-bottom: 22px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        border: 1px solid #C6CBCD;
        width: 570px;
        height: 92px;
    }

    &__icon {
        margin-right: 40px;
        margin-left: 18px;
    }

    &__box-title {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        color: #2D3033;
    }

    &__arrow {
        display: flex;
        cursor:pointer;
        padding-right: 19px;
        justify-content:flex-end;
    }

    &__drop{
        cursor: pointer;
        &:active > .service__box-text{
            display: block;

        }
    }
    &__box-text {
        display: none;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        color: #2D3033;
        padding-left: 22px;
        padding-right: 85px;
        border: 1px solid #C6CBCD;
        &:active{
            display: block;
        }
    }
}
