.works {
    &__columns {
        display: flex;
    }

    &__columns{
        justify-content: center;  
    }

    &__column {
        display: flex;
        flex-direction: column;

    }

    &__icon{
        vertical-align: middle;
    }

    &__img{
        position: relative;
        &:hover:after{
            content:"";
            position:absolute;
            background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            cursor:pointer;
        }
        & > .works__img-in{
            display: none;
        }
        &:hover > .works__img-in{
            display: block;
            top: 0;
            left: 0;
            margin: 0 auto;
        }
    }
    &__inner{
        z-index: 1;
        display: flex;
        flex-direction: column;
        position:absolute;
        top: 116px;
        left: 70px;
    }
    &__inner_tall{
        top: 276px;

    }
    &__icon_sevenMob{
        display: none;
    }
    &__icon_fourMob{
        display: none;
    }
    &__icon-in{
        margin: 0 auto;
    }
    &__text-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
    & > .works__tex-in:first-child{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
    }
    & > .works__tex-in:last-child{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
    }
    }
}

@media screen and (max-width:1024px) {
    .works {
        &__icon{
                width: 255px;
                height: 256px;
        }
        &__icon__big{
                height: 100%;
        }
        &__inner{
            top: 86px;
            left: 41px;
        }
        &__inner_tall{
            top: 186px;
        }
        &__text-inner{
            padding-top: 40px;
        & > .works__tex-in:first-child{
            font-size: 18px;
            margin-bottom: 5px;
        }
        & > .works__tex-in:last-child{
            font-size: 14px;
        }
        }
        &__pict{
            width: 30px;
            height: 30px;
        }
    }
}

@media screen and (max-width:320px) {
    .works {        
        &__columns {
            justify-content: center;  
            flex-wrap: wrap;
            width: 320px;
        }
    
        &__column {
            display: flex;
            flex-direction: column;
    
        }
    
        &__icon{
            vertical-align: middle;
            width: 159px;
            height: 152px;
        }
        &__icon__big{
            height: 456px;
        }
        &__icon_seven{
            display: none;
        }
        &__icon_sevenMob{
            display: block;
        }
        &__icon_four{
            display:none;
        }
        &__icon_fourMob{
            display: block;
            width: 319px;
        }

        &__column_one{
            order:1;
            height: 304px;

        }
        &__column_two{
            order:4;

        }
        
        &__column_three{
            order:2;
            flex-direction: column-reverse;

        }

        &__column_four{
            order:3;

        }


        
    
        &__img{
            position: relative;
            &:hover:after{
                display: none;
            }
            & > .works__img-in{
                display: none;
            }
            &:hover > .works__img-in{
                display: none;
            }
        }
        &__inner{
            z-index: 1;
            display: flex;
            flex-direction: column;
            position:absolute;
            top: 116px;
            left: 70px;
        }
        &__inner_tall{
            top: 276px;
    
        }
        &__icon-in{
            margin: 0 auto;
        }
        &__text-inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 60px;
        & > .works__tex-in:first-child{
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 24px;
            color: #FFFFFF;
        }
        & > .works__tex-in:last-child{
            font-family: 'Raleway';
            font-weight: 400;
            font-size: 18px;
            color: #FFFFFF;
        }
        }
    }
    
}